@font-face {
    font-family: 'Spoqa Han Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url('font/eot/Spoqa Han Sans Regular.eot'),
    url('font/eot/Spoqa Han Sans Regular.eot?#iefix') format('embedded-opentype'),
    url('font/woff/Spoqa Han Sans Regular.woff') format('woff'),
    url('font/ttf/Spoqa Han Sans Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?51703722');
  src: url('font/fontello.eot?51703722#iefix') format('embedded-opentype'),
       url('font/fontello.woff2?51703722') format('woff2'),
       url('font/fontello.woff?51703722') format('woff'),
       url('font/fontello.ttf?51703722') format('truetype'),
       url('font/fontello.svg?51703722#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-pencil:before { content: '\e800'; } /* '' */
.icon-pencil-1:before { content: '\e801'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-book:before { content: '\e803'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; }
