body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* 새로운목표 페이지*/
input {
  display:inline-block;
}
.ui.form .inline.field > label{
  display:inline-block;
  width: 30%;
}
.ui.input{
  width: 80px !important;
}
.ui.input input{
  text-align: center;
}
