@import url("./fonts.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 87.5%;
}
body {
  font-family: 'Spoqa Han Sans', sans-serif;
  font-weight: 400;
  line-height: 1;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6, input, label, textarea, button{
  font-family: 'Spoqa Han Sans' !important;
}
ul {
  list-style-type: none;
}
a:link, a:visited {
  color:#181818;
}
a:hover, a:focus, a:active{
  color:#181818;
}

input {
  display: inline-block;
  padding: 5px 8px;
  box-sizing: border-box;
  font-size: 20px !important;
  resize: none !important;
  font-family: 'Spoqa Han Sans' !important;
}
label {
  font-size:20px !important;
  width:50% !important;
  margin:0 !important;
  line-height:2;
}

/* remove inner-button */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    width: 30% !important;
}
/* fontello 아이콘 설정*/
i.icon{
  display:inline-block;
  font-family: fontello;
  display: initial;
  margin: 0;
}
.ui.btn.btn-navi{
  padding: 0;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  background-color: #f03e3e;
  color: #fff;
  box-shadow: 1px 2px 3px #848484 !important;
  font-size: 1.5em;
  text-align: center;
  margin:10px 0 0;
  left:0;
}
.btn.btn-navi:hover, .btn.btn-navi:focus {
  color:#fff;
}
.ui.dimmer{
  z-index:initial !important;
}
.ui.form {
  font-size:20px;
}
.ui.form .field {
  margin-bottom:10px !important;
}
.ui.form .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ui.form .field>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ui.form .field>div.dispBlock{
  display:block;
  width:100%;
}
.ui.form .field>label{
  font-weight:400 !important;
}
.ui.form .field>div>label{
  display: block;
  margin: 0 0 .28571429rem 0;
  color: rgba(0,0,0,.87);
  font-size: .92857143em;
  font-weight: 400 !important;
  text-transform: none;
}
.ui.form .required.field>div>label:after{
  margin: -.2em 0 0 .2em;
  content: '*';
  color: #db2828;
}
.ui.form .field .ui.input {
  width:120px !important;
}
.ui.form .field .ui.input input[type="number"] {
  text-align: center;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 0;
}
.ui.form .field .ui.input input[type="number"]::-moz-focus-inner::after {
  content:'';
  position: absolute;
  width:100%;
  height:1px;
  bottom:0;
  right:0;
  border-bottom: 1px solid red;
}
.ui.form .field .ui.input::after {
  content:'분';
  position: absolute;
  top:50%;
  right:0%;
  transform: translateY(-50%);
}

.ui.buttons .button {
  width:50px;
  height:50px;
}

.ui.fluid.button, .ui.fluid.buttons {
  width:100%;
  height: 100%;
  border-radius: 0;
  margin:0;
}
/* 저장버튼, 삭제버튼 */
.ui.button.btn-submit,
.ui.button.btn-delete {
  height:100%;
  margin: 0;
  border-radius: 0 !important;
}
.ui.button.btn-delete {
  /* background-color:#f03e3e; */
  color:#f03e3e;
}
/* 목표설정 제대로 입력 시 저장버튼 활성화 .active 클래스 추가 */
.ui.button.btn-submit.active{
  color:#fff;
  background-color:#f03e3e;
}

.ui.message .header:not(.ui){
  font-size:16px;
  font-weight:400;
}
/* 탭 활성화 시 보여지는 컨테이너 영역 */
.ui.segment.active.tab {
  border: 0 none;
  box-shadow: none;
  padding: 0;
}

.gnb{
  visibility: hidden;
}
.gnbshow{
  visibility: visible;
}
.show{
  animation: spreadUp .3s  ease-in-out;
}
.hide{
  opacity: 0;
}



/* 랜딩페이지 */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}
  .heading-primary--main {
    display: block;
    font-weight: 700;
    font-size: 1.5em;
    line-height:1.5;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  .heading-primary--sub {
    display: block;
    font-weight: 100;
    animation: fadeIn 1s ease-out;
  }

a.btn, a.btn:link, a.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

a.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
  a.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

a.btn:active, a.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

a.btn--white {
  background-color: #fff;
  color: #777;
}
  .btn--white::after {
    background-color: #fff;
  }

a.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

a.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

/* 가이드페이지 */

.slick-slider > div {
  height:90vh;
}
.slick-slide {
  height: 90vh;
}
.slick-slide > div {
  padding-top:75px;
}
.slick-dots{
  top: 25px;
  bottom:initial;
}
.slider-btn-group {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-btn-group button {
  width:100%;
  height:100%;
  border: 0 none;
  outline: 0;
  cursor: pointer;
  color: #f03e3e;
  background-color: transparent;
  font-size: 1.25em;
}
.slider-btn-group button.prev {
  background-color:#f2f2f2;
  color: #555;
}

.slideImg{
  bottom: 10px;
  width: 58vw !important;
  margin-top: 35px;
  z-index: 10;
  box-shadow: 1px 1px 2px #848484;
}
.slideImg.miniImg {
  width: 45vw !important;
  margin-right: -38px !important;
  transform: rotateX(12deg) rotateY(30deg);
  margin-left: -34px !important;
  margin-top: 80px;
}
.slideImg.smallimg {
  width: 52vw !important;
  margin-right: -31px !important;
  margin-left: -25px !important;
}
.slideImg.smallimg:last-child{
  margin-top:70px;
}
@keyframes spreadUp {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }

}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
