@import url("./fonts.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 87.5%;
}
body {
  font-family: 'Spoqa Han Sans', sans-serif;
  font-weight: 400;
  line-height: 1;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Spoqa Han Sans', sans-serif;
}
ul {
  list-style-type: none;
}
a:link, a:visited {
  color:#181818;
}
a:hover, a:focus, a:active{
  color:#181818;
}

/* fontello 아이콘 설정*/
i.icon{
  display:inline-block;
  font-family: fontello;
  display: initial;
  margin: 0;
}

.ui.btn.btn-navi{
  padding: 0;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  background-color: #f03e3e;
  color: #fff;
  box-shadow: 1px 2px 3px #848484 !important;
  font-size: 1.5em;
  text-align: center;
  margin:10px 0 0;
  left:0;
}
.btn.btn-navi:hover, .btn.btn-navi:focus {
  color:#fff;
}
.ui.dimmer{
  z-index:initial !important;
}



@keyframes spreadUp {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }

}

.gnb{
  visibility: hidden;
}
.gnbshow{
  visibility: visible;
}
.show{
  animation: spreadUp .3s  ease-in-out;
}
.hide{
  opacity: 0;
}
